<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the BOOK_init() hook (in hooks/BOOK.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="BOOK-teams-<%%VALUE(ID)%%>" class="BOOK-teams"><%%VALUE(teams)%%></td>
		<td id="BOOK-id_no-<%%VALUE(ID)%%>" class="BOOK-id_no"><%%VALUE(id_no)%%></td>
		<td id="BOOK-phone-<%%VALUE(ID)%%>" class="BOOK-phone text-right"><%%VALUE(phone)%%></td>
		<td id="BOOK-name-<%%VALUE(ID)%%>" class="BOOK-name"><%%VALUE(name)%%></td>
		<td id="BOOK-mode-<%%VALUE(ID)%%>" class="BOOK-mode"><%%VALUE(mode)%%></td>
		<td id="BOOK-mpesa-<%%VALUE(ID)%%>" class="BOOK-mpesa"><%%VALUE(mpesa)%%></td>
		<td id="BOOK-paypal-<%%VALUE(ID)%%>" class="BOOK-paypal"><%%VALUE(paypal)%%></td>
		<td id="BOOK-bank-<%%VALUE(ID)%%>" class="BOOK-bank"><%%VALUE(bank)%%></td>
		<td id="BOOK-select-<%%VALUE(ID)%%>" class="BOOK-select"><%%VALUE(select)%%></td>
		<td id="BOOK-enters-<%%VALUE(ID)%%>" class="BOOK-enters"><%%VALUE(enters)%%></td>
		<td id="BOOK-book_date-<%%VALUE(ID)%%>" class="BOOK-book_date"><%%VALUE(book_date)%%></td>
